@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}


body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.container{
  height: 60vh;
  width: 60vw;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
p{
  margin: 0px 30px;
}
h2{
  font-size: 25px;
  color: gray;
}

#btn{
  padding: 20px;
  border: 0;
  outline: none;
  background-color: #7158e2;
  color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #7158e2a6;
}